<h2>Liste des Départements</h2>

<button routerLink="/departements/create">Ajouter un département</button>

<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nom</th>
      <th>Taille Max</th>
      <th>Taille Actuelle</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dep of departements">
      <td>{{ dep.id }}</td>
      <td>{{ dep.nomDepartment }}</td>
      <td>{{ dep.taille }}</td>
      <td>{{ tailleActuelleMap.get(dep.id!) ?? 0 }}</td>
      <td>
        <button [routerLink]="['/departements/detail', dep.id]">Voir</button>
        <button [routerLink]="['/departements/update', dep.id]">Modifier</button>
        <button (click)="deleteDepartement(dep.id)">Supprimer</button>
      </td>
    </tr>
  </tbody>
</table>

<div>
  <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 0">Précédent</button>
  <span> Page {{ currentPage + 1 }} sur {{ totalPages }} </span>
  <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage >= totalPages - 1">Suivant</button>
</div>